<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link href='http://fonts.useso.com/css?family=Open+Sans:600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Pinyon+Script' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>
<link href="../../static/css/bootstrap.css" rel='stylesheet' type='text/css'/>
<link href="../../static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="../../static/js/jquery.min.js"></script>
</head>
<body>
<!--header starts-->
<div class="header">
	 <div class="top-header">
		 <div class="container">
			 <div class="logo">
				 <a href="../home/index"><img src="../../static/images/11.png"/></a>
			 <div class="clearfix"></div>
			 </div>
			 <span class="menu"> </span>
			 <div class="m-clear"></div>
			 <div class="top-menu">
				<ul>
					 <li><a class="scroll" href="../home/index">房间·链</a></li>
					 <li class="active"><a href="conference">攻略分享·链</a></li>
					 <li><a class="scroll" href="../home/booking">用户预定·链</a></li>
					 <li><a class="scroll" href="../site/contact">反馈·链</a></li>
						<div class="clearfix"></div>
				 </ul>
				 <script>
					$("span.menu").click(function(){
						$(".top-menu ul").slideToggle(200);
					});
				</script>
			 </div>
		  </div>
	  </div>
</div>
<!---->
 <div class="confer">
	<script src="../../static/js/responsiveslides.min.js"></script>
	 <script>
    // You can also use "$(window).load(function() {"
    $(function () {
      $("#conference-slider").responsiveSlides({
      	auto: true,
        manualControls: '#slider3-pager',
      });
    });
  </script>
  <div class="container">
    <h2>链游<span>云南</span></h2>
    <div class="conference-slider">
	    <!-- Slideshow 3 -->
	    <ul class="conference-rslide" id="conference-slider">
	      <li><img src="../../static/images/399a589bc2fd0e38a6ead2b078e123c5_r.jpg" alt=""></li>
	      <li><img src="../../static/images/6256afa25fe5620ddbbaf7352cda2fa9_r.jpg" alt=""></li>
	      <li><img src="../../static/images/8c4fc74d264078360db4b66b875cf95b_r.jpg" alt=""></li>
		  <li><img src="../../static/images/6d21be70b9a8e38f935eb4146d31acc7_b.jpg" alt=""></li>
		  <li><img src="../../static/images/55c42edb57289d24e237cdefc9ef7157_r.jpg" alt=""></li>
		  <li><img src="../../static/images/013c85a966d3c05ed46bba318564747a_r.jpg" alt=""></li>
	    </ul>
	    <!-- Slideshow 3 Pager -->
	    <ul id="slider3-pager">
	      <li><a href="#"><img src="../../static/images/399a589bc2fd0e38a6ead2b078e123c5_r%20-%20副本.jpg" alt=""></a></li>
		  <li><a href="#"><img src="../../static/images/6256afa25fe5620ddbbaf7352cda2fa9_r%20-%20副本.jpg" alt=""></a></li>
		  <li><a href="#"><img src="../../static/images/8c4fc74d264078360db4b66b875cf95b_r%20-%20副本.jpg" alt=""></a></li>
		  <li><a href="#"><img src="../../static/images/6d21be70b9a8e38f935eb4146d31acc7_b%20-%20副本.jpg" alt=""></a></li>
	      <li><a href="#"><img src="../../static/images/55c42edb57289d24e237cdefc9ef7157_r%20-%20副本.jpg" alt=""></a></li>
	      <li><a href="#"><img src="../../static/images/013c85a966d3c05ed46bba318564747a_r%20-%20副本.jpg" alt=""></a></li>
	    </ul>
    </div> 
	<h4>云梦萦绕 满江春意 争相竞艳 淳朴善良</h4>
     <p>海地生活的白色桌椅已成了诸多游客到双廊必打卡的地方，很多人在朋友圈晒双廊行的照片就是在这里拍摄的。海地生活客栈位于双廊镇大建旁村，邻洱海依蛇山，建筑风格是白族传统砖模结构，整体给人感觉像是一个开放的渡假村。这里有太多事情能够体验，光在海地就能玩上一整天。你可以在海边做一套舒展的瑜珈，在白族村落里悠闲地溜达，在后面的山崖上体验攀岩，沿着洱海骑自行车迎风长歌，泡个舒服的温泉……如果遇上投缘的朋友，不妨开一瓶啤酒，就着洱海美景、天上繁星，从诗词歌赋聊到人生哲理，好不快活！

</p>
	 <p>客栈的老板是一对川美毕业的艺术家夫妇，花了一整年时间将闲置四十余年的老宅院装修成今天这座漂亮古朴的花园客栈。宅院中至今仍保留着旧时的浮雕和壁画，当然，也可以看到老板的画作，充满艺术气息。客栈是全木质结构，房间里配备了很现代简洁的配件，干净，舒适。在这里，你可以感受廊下品茗的悠远古意，也可以马上穿越到咖啡吧饮上一杯现代感十足的香醇咖啡。己已巳将为你在喜洲的惬意时光添一抹温暖。

</p>
	 <p>第一眼就被这客栈古香古色的装修风格牢牢吸引！绝对是古风爱好者首选的落角之处，不穿上美美的汉服好好拍上几套照片都对不起自己。古城画院是丽江古城为数不多的公房，院子主体全是300年的古结构，透着浓浓的书画气质。客栈既保留古宅原本的古典雅致，也配备了各类现代化舒适设施，让你在感受古意熏陶的同时也能享受现代方便的日常生活。这里还有为你安排行程的管家，为你烹饪地道云南小菜的厨师，为你整理房间的小妹，真感觉自己好像成了古时候的大家闺秀，说话都不自觉轻柔下来。

</p>
	 <p>英迪格坐落于世界文化遗产大研古城内，是一家马帮风格的酒店，里面有各种反映马帮生活的主题客房，连大堂的座椅都是马鞍的形状。 一走进客房，就被它宽敞温馨的气氛治愈了，旅途奔波的疲惫一扫而空。值得一提的是，客房里设备十分齐全，还有胶囊咖啡机、电动窗帘、加湿器以及供客人使用的ipad，贴心cry~真心感觉自己是被当爷一样伺候，躺在床上的时候会不自觉想象：我要当几当家呢？

</p>
	 <div class="sponcers">
		<div class="sponcers-head">
		<h5>链游—城市</h5>
		</div>
	 </div>
	 <ul id="flexiselDemo1">
		<li>
			<div class="biseller-column">
			<img src="../../static/images/13.png" alt="">
			</div>
		</li>
		<li>
			<div class="biseller-column">
			<img src="../../static/images/14.png" alt="">
			</div>
		</li>
		<li>
			<div class="biseller-column">
			<img src="../../static/images/15.png" alt="">
			</div>
		</li>
		<li>
			<div class="biseller-column">
			<img src="../../static/images/13.png" alt="">
			</div>
		</li>
		<li>
			<div class="biseller-column">
			<img src="../../static/images/14.png" alt="">
			</div>
		</li>
		<li>
			<div class="biseller-column">
			<img src="../../static/images/15.png" alt="">
			</div>
		</li>
	</ul>
	<script type="text/javascript">
	 $(window).load(function() {
		$("#flexiselDemo1").flexisel({
			visibleItems: 3,
			animationSpeed: 1000,
			autoPlay: true,
			autoPlaySpeed: 3000,    		
			pauseOnHover: true,
			enableResponsiveBreakpoints: true,
			responsiveBreakpoints: { 
				portrait: { 
					changePoint:480,
					visibleItems: 1
				}, 
				landscape: { 
					changePoint:640,
					visibleItems: 2
				},
				tablet: { 
					changePoint:768,
					visibleItems: 3
				}
			}
		});
		
	});
   </script>
   <script type="text/javascript" src="../../static/js/jquery.flexisel.js"></script>
	 </div>
 </div>
 
 </div>
 <!---->
<div class="fotter">
	 <div class="container">
		 <h3>以智能合约为核心的去中心化交易</h3>
		 <h4></h4>
		 <i class="man"></i>
	 </div>
</div>
<!---->
<div class="fotter-info">
	  <div class="container">
	      <div class="col-md-5 details">
			 <div class="hotel-info">
				 
		    </div>
			 <div class="news">
					
		    </div>
				
	    </div>
		 <div class="col-md-7 details">
			 <div class="join">
				 
		   </div>
			 <div class="member">
			 <h4></h4>
			 
		   </div>
			 <div class="clearfix"></div>
		 </div>
		 <div class="clearfix"></div>
	  </div>	
		<h6>&nbsp; </h6>	
</div>
<!---->


</body>
</html>